In [6]:
import pandas as pd
y = pd.Period('2025')

In [7]:
y.start_time

Timestamp('2025-01-01 00:00:00')

In [8]:
y.end_time

Timestamp('2025-12-31 23:59:59.999999999')

In [9]:
y.is_leap_year

False

Monthly Period

In [11]:
m = pd.Period('2025-6')
m

Period('2025-06', 'M')

In [13]:
m.start_time

Timestamp('2025-06-01 00:00:00')

In [14]:
m.end_time

Timestamp('2025-06-30 23:59:59.999999999')

In [16]:
m+1

Period('2025-07', 'M')

Daily Period

In [17]:
d = pd.Period('2025-6-15', freq='D')

In [18]:
d.start_time

Timestamp('2025-06-15 00:00:00')

In [19]:
d.end_time

Timestamp('2025-06-15 23:59:59.999999999')

In [20]:
d+1

Period('2025-06-16', 'D')

Hourly Period

In [23]:
h = pd.Period('2025-6-15', freq='h')
h

Period('2025-06-15 00:00', 'h')

In [24]:
h+2

Period('2025-06-15 02:00', 'h')

Achieve same results using pandas offsets hour

In [26]:
h + pd.offsets.Hour(3)

Period('2025-06-15 03:00', 'h')

Quarterly Period

In [30]:
q1 = pd.Period('2025Q1', freq='Q-FEB')
q1

Period('2025Q1', 'Q-FEB')

In [32]:
q1.start_time

Timestamp('2024-03-01 00:00:00')

In [33]:
q1.end_time

Timestamp('2024-05-31 23:59:59.999999999')

Use asfreq to convert period to a different frequency

In [34]:
q1.asfreq('M',how='start')

Period('2024-03', 'M')

In [35]:
q1.asfreq('M',how='end')

Period('2024-05', 'M')

Weekly Period

In [37]:
w = pd.Period('2017-07-15',freq='W')
w

Period('2017-07-10/2017-07-16', 'W-SUN')

In [39]:
w-1

Period('2017-07-03/2017-07-09', 'W-SUN')

In [40]:
w2 = pd.Period('2025-02-28',freq='W')
w2

Period('2025-02-24/2025-03-02', 'W-SUN')

In [41]:
w2-w

PeriodIndex and period_range

In [43]:
r = pd.period_range('2020','2025', freq='Q')
r

PeriodIndex(['2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
             '2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4',
             '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1', '2024Q2',
             '2024Q3', '2024Q4', '2025Q1'],
            dtype='period[Q-DEC]')

In [44]:
r[0].start_time

Timestamp('2020-01-01 00:00:00')

In [45]:
r[0].end_time

Timestamp('2020-03-31 23:59:59.999999999')

Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2020 and 2025

In [54]:
r = pd.period_range('2011', '2017', freq='Q-JAN')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [55]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [56]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [66]:
idx = pd.period_range(start='2016-01', freq='3M', periods=10)
idx

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]')

In [70]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2016-01    0.993793
2016-04   -1.536743
2016-07   -0.086832
2016-10   -1.516010
2017-01    1.225495
2017-04   -1.968242
2017-07   -1.554551
2017-10    0.874048
2018-01    0.076246
2018-04   -1.906030
Freq: 3M, dtype: float64

Partial Indexing

In [71]:
ps['2016']

2016-01    0.993793
2016-04   -1.536743
2016-07   -0.086832
2016-10   -1.516010
Freq: 3M, dtype: float64

In [72]:
ps['2016':'2017']

2016-01    0.993793
2016-04   -1.536743
2016-07   -0.086832
2016-10   -1.516010
2017-01    1.225495
2017-04   -1.968242
2017-07   -1.554551
2017-10    0.874048
Freq: 3M, dtype: float64


Converting between representations

In [73]:
pst = ps.to_timestamp()
pst

2016-01-01    0.993793
2016-04-01   -1.536743
2016-07-01   -0.086832
2016-10-01   -1.516010
2017-01-01    1.225495
2017-04-01   -1.968242
2017-07-01   -1.554551
2017-10-01    0.874048
2018-01-01    0.076246
2018-04-01   -1.906030
Freq: QS-OCT, dtype: float64

In [74]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [75]:
ps = pst.to_period()
ps

2016Q1    0.993793
2016Q2   -1.536743
2016Q3   -0.086832
2016Q4   -1.516010
2017Q1    1.225495
2017Q2   -1.968242
2017Q3   -1.554551
2017Q4    0.874048
2018Q1    0.076246
2018Q2   -1.906030
Freq: Q-DEC, dtype: float64

In [76]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]')

Processing Wal Mart's Financials

In [89]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [90]:
df.set_index('Line Item', inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [91]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [92]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [93]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

Add start date end date columns to dataframe

In [94]:
df["Start Date"] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [95]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999