In [1]:
import pandas as pd
turkish_weather = pd.DataFrame({
    "city": ['ankara', 'istanbul', 'izmir'],
    "temperature": [32,35,30],
    "humidity": [80,90,100]
})
turkish_weather

       city  temperature  humidity
0    ankara           32        80
1  istanbul           35        90
2     izmir           30       100

In [2]:
us_weather = pd.DataFrame({
    "city": ['nyc', 'california', 'chicago'],
    "temperature": [15,30,20],
    "humidity": [70,60,90]
})
us_weather

         city  temperature  humidity
0         nyc           15        70
1  california           30        60
2     chicago           20        90

In [3]:
df = pd.concat([turkish_weather, us_weather])
df

         city  temperature  humidity
0      ankara           32        80
1    istanbul           35        90
2       izmir           30       100
0         nyc           15        70
1  california           30        60
2     chicago           20        90

Ignore Index

In [5]:
df = pd.concat([turkish_weather, us_weather], ignore_index=True)
df

         city  temperature  humidity
0      ankara           32        80
1    istanbul           35        90
2       izmir           30       100
3         nyc           15        70
4  california           30        60
5     chicago           20        90

Concatenation And Keys

In [6]:
df = pd.concat([turkish_weather, us_weather], keys=["turkish", "us"])
df

                 city  temperature  humidity
turkish 0      ankara           32        80
        1    istanbul           35        90
        2       izmir           30       100
us      0         nyc           15        70
        1  california           30        60
        2     chicago           20        90

In [7]:
df.loc["us"]

         city  temperature  humidity
0         nyc           15        70
1  california           30        60
2     chicago           20        90

In [8]:
df.loc["turkish"]

       city  temperature  humidity
0    ankara           32        80
1  istanbul           35        90
2     izmir           30       100

Concatenation Using Index

In [12]:
temperature_df = pd.DataFrame({
    "city": ['ankara', 'istanbul', 'izmir'],
    "temperature": [32,35,30],
}, index=[0,1,2])
temperature_df

       city  temperature
0    ankara           32
1  istanbul           35
2     izmir           30

In [13]:
windspeed_df = pd.DataFrame({
    "city": ['ankara', 'istanbul'],
    "windspeed": [8,12],
}, index=[1,0])
windspeed_df

       city  windspeed
1    ankara          8
0  istanbul         12

In [15]:
df = pd.concat([turkish_weather, windspeed_df], axis=1)
df

       city  temperature  humidity      city  windspeed
0    ankara           32        80  istanbul       12.0
1  istanbul           35        90    ankara        8.0
2     izmir           30       100       NaN        NaN

Concatenate dataframe with series

In [16]:
s = pd.Series(["Humid", "Dry", "Rain"], name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [17]:
df = pd.concat([temperature_df, s], axis=1)
df

       city  temperature  event
0    ankara           32  Humid
1  istanbul           35    Dry
2     izmir           30   Rain